/*! =========================================================
 *
 * Material Kit PRO - V1.1.0
 *
 * =========================================================
 *
 * Product Page: https://www.creative-tim.com/product/material-kit-pro
 * Available with purchase of license from https://www.creative-tim.com/product/material-kit-pro
 * Copyright 2017 Creative Tim (https://www.creative-tim.com)
 * License Creative Tim (https://www.creative-tim.com/license)
 *
 * ========================================================= */
/* ANIMATION */
/* SHADOWS */
body {
  background-color: #E5E5E5;
  color: #3C4858;
}
body.inverse {
  background: #333333;
}
body.inverse, body.inverse .form-control {
  color: #ffffff;
}
body.inverse .modal,
body.inverse .modal .form-control,
body.inverse .panel-default,
body.inverse .panel-default .form-control,
body.inverse .card,
body.inverse .card .form-control {
  background-color: initial;
  color: initial;
}
.nav-open-absolute body {
  overflow: hidden;
}

blockquote p {
  font-style: italic;
}

.life-of-material-kit {
  background: #FFFFFF;
}

body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4 {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 300;
  line-height: 1.5em;
}

.serif-font {
  font-family: "Roboto Slab", "Times New Roman", serif;
}

a {
  color: #9c27b0;
}
a:hover, a:focus {
  color: #89229b;
  text-decoration: none;
}
a.text-info:hover, a.text-info:focus {
  color: #00a5bb;
}
a .material-icons {
  vertical-align: middle;
}

.dropdown.open .caret,
.dropup.open .caret,
.btn-group.bootstrap-select.open .caret {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

/*           Animations              */
.animation-transition-general {
  -webkit-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  -ms-transition: all 300ms linear;
  transition: all 300ms linear;
}

.animation-transition-slow {
  -webkit-transition: all 370ms linear;
  -moz-transition: all 370ms linear;
  -o-transition: all 370ms linear;
  -ms-transition: all 370ms linear;
  transition: all 370ms linear;
}

.caret {
  -webkit-transition: transform 150ms ease 0s;
  -moz-transition: transform 150ms ease 0s;
  -o-transition: transform 150ms ease 0s;
  -ms-transition: transform 150ms ease 0s;
  transition: transform 150ms ease 0s;
}

.bootstrap-tagsinput .tag,
.bootstrap-tagsinput [data-role="remove"],
.animation-transition-fast {
  -webkit-transition: all 150ms ease 0s;
  -moz-transition: all 150ms ease 0s;
  -o-transition: all 150ms ease 0s;
  -ms-transition: all 150ms ease 0s;
  transition: all 150ms ease 0s;
}

legend {
  border-bottom: 0;
}

* {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
}
*:focus {
  outline: 0;
}

a:focus, a:active,
button:active, button:focus, button:hover,
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
select::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
  outline: 0 !important;
}

h1, .h1 {
  font-size: 3.8em;
  line-height: 1.15em;
}

h2, .h2 {
  font-size: 2.6em;
}

h3, .h3 {
  font-size: 1.825em;
  line-height: 1.4em;
  margin: 20px 0 10px;
}

h4, .h4 {
  font-size: 1.3em;
  line-height: 1.55em;
}

h5, .h5 {
  font-size: 1.25em;
  line-height: 1.55em;
  margin-bottom: 15px;
}

h6, .h6 {
  font-size: 0.9em;
  text-transform: uppercase;
  font-weight: 500;
}

.title,
.card-title,
.info-title,
.footer-brand,
.footer-big h5,
.footer-big h4,
.media .media-heading {
  font-weight: 700;
  font-family: "Roboto Slab", "Times New Roman", serif;
}
.title,
.title a,
.card-title,
.card-title a,
.info-title,
.info-title a,
.footer-brand,
.footer-brand a,
.footer-big h5,
.footer-big h5 a,
.footer-big h4,
.footer-big h4 a,
.media .media-heading,
.media .media-heading a {
  color: #3C4858;
  text-decoration: none;
}

h2.title {
  margin-bottom: 30px;
}

.description,
.card-description,
.footer-big p {
  color: #999999;
}

.text-warning {
  color: #ff9800;
}

.text-primary {
  color: #9c27b0;
}

.text-danger {
  color: #f44336;
}

.text-success {
  color: #4caf50;
}

.text-info {
  color: #00bcd4;
}

.text-rose {
  color: #e91e63;
}

.text-gray {
  color: #999999;
}

.section-white {
  background: #FFFFFF;
}

.section-white-to-gray {
  background-color: #fff;
  background: transparent linear-gradient(0deg, #e5e5e5 0%, #fff 100%) repeat scroll 0 0;
}

.section-gray {
  background: #E5E5E5;
}

.section-light-gray {
  background: #eee;
}

.section-primary {
  background: #e1bee7;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(60deg, #e1bee7, #ba68c8);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(60deg, #e1bee7, #ba68c8);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(60deg, #e1bee7, #ba68c8);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(60deg, #e1bee7, #ba68c8);
  /* Standard syntax */
}

.section-info {
  background: #b2ebf2;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(60deg, #b2ebf2, #4dd0e1);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(60deg, #b2ebf2, #4dd0e1);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(60deg, #b2ebf2, #4dd0e1);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(60deg, #b2ebf2, #4dd0e1);
  /* Standard syntax */
}

.section-success {
  background: #c8e6c9;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(60deg, #c8e6c9, #81c784);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(60deg, #c8e6c9, #81c784);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(60deg, #c8e6c9, #81c784);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(60deg, #c8e6c9, #81c784);
  /* Standard syntax */
}

.section-warning {
  background: #ffe0b2;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(60deg, #ffe0b2, #ffb74d);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(60deg, #ffe0b2, #ffb74d);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(60deg, #ffe0b2, #ffb74d);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(60deg, #ffe0b2, #ffb74d);
  /* Standard syntax */
}

.section-danger {
  background: #ffcdd2;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(60deg, #ffcdd2, #e57373);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(60deg, #ffcdd2, #e57373);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(60deg, #ffcdd2, #e57373);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(60deg, #ffcdd2, #e57373);
  /* Standard syntax */
}

.section-rose {
  background: #f8bbd0;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(60deg, #f8bbd0, #f06292);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(60deg, #f8bbd0, #f06292);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(60deg, #f8bbd0, #f06292);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(60deg, #f8bbd0, #f06292);
  /* Standard syntax */
}

.section-space {
  height: 70px;
  display: block;
}

.section {
  padding: 70px 0;
}

.section-navbars {
  padding-bottom: 0;
}

.section-full-screen {
  height: 100vh;
}

.section-signup {
  padding-top: 20vh;
}

.section-dark,
.section-image {
  background-color: #343434;
  background-size: 200% 240%;
  background: #232323;
  background: -moz-radial-gradient(center, ellipse cover, #585858 0%, #232323 100%);
  /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #585858), color-stop(100%, #232323));
  /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover, #585858 0%, #232323 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover, #585858 0%, #232323 100%);
  /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover, #585858 0%, #232323 100%);
  /* IE10+ */
  background: radial-gradient(ellipse at center, #585858 0%, #232323 100%);
  /* W3C */
  background-size: 550% 450%;
}

.section-dark .title,
.section-dark .card-plain .card-title,
.section-dark .card-plain .icon i,
.section-image .title,
.section-image .card-plain .card-title,
.section-image .card-plain .icon i {
  color: #FFFFFF;
}
.section-dark .description,
.section-dark .card-plain .card-description,
.section-dark .card-plain .icon,
.section-image .description,
.section-image .card-plain .card-description,
.section-image .card-plain .icon {
  color: rgba(255, 255, 255, 0.76);
}
.section-dark .card-plain [class*="text-"],
.section-dark .card-plain ul li b,
.section-image .card-plain [class*="text-"],
.section-image .card-plain ul li b {
  color: #FFFFFF;
}
.section-dark .card-plain .category,
.section-image .card-plain .category {
  color: rgba(255, 255, 255, 0.5);
}
.section-dark .card .card-image .colored-shadow,
.section-image .card .card-image .colored-shadow {
  top: 0px;
}

.section-image {
  position: relative;
}
.section-image:after {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: block;
  left: 0;
  top: 0;
  content: "";
  background-color: rgba(0, 0, 0, 0.7);
}
.section-image .container {
  z-index: 2;
  position: relative;
}

.section,
.section-image {
  background-position: center center;
  background-size: cover;
}

[class*="features-"],
[class*="team-"],
[class*="projects-"],
[class*="pricing-"],
[class*="testimonials-"],
[class*="contactus-"] {
  padding: 80px 0;
}

.page-header {
  height: 100vh;
  background-position: center center;
  background-size: cover;
  margin: 0;
  padding: 0;
  border: 0;
}
.page-header .carousel .carousel-indicators {
  bottom: 60px;
}
.page-header .container {
  padding-top: 226px;
  color: #FFFFFF;
}
.page-header .title {
  color: #FFFFFF;
}
.page-header.header-small {
  height: 65vh;
  min-height: 65vh;
}
.page-header.header-small .container {
  padding-top: 20vh;
}

.header-filter {
  position: relative;
}
.header-filter:before, .header-filter:after {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: block;
  left: 0;
  top: 0;
  content: "";
}
.header-filter::before {
  background-color: rgba(0, 0, 0, 0.5);
}
.header-filter .container {
  z-index: 2;
  position: relative;
}
.header-filter[filter-color="purple"]:after, .header-filter[filter-color="primary"]:after {
  background: rgba(225, 190, 231, 0.56);
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(60deg, rgba(225, 190, 231, 0.56), rgba(186, 104, 200, 0.95));
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(60deg, rgba(225, 190, 231, 0.56), rgba(186, 104, 200, 0.95));
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(60deg, rgba(225, 190, 231, 0.56), rgba(186, 104, 200, 0.95));
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(60deg, rgba(225, 190, 231, 0.56), rgba(186, 104, 200, 0.95));
  /* Standard syntax */
}
.header-filter[filter-color="blue"]:after, .header-filter[filter-color="info"]:after {
  background: rgba(178, 235, 242, 0.56);
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(60deg, rgba(178, 235, 242, 0.56), rgba(77, 208, 225, 0.95));
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(60deg, rgba(178, 235, 242, 0.56), rgba(77, 208, 225, 0.95));
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(60deg, rgba(178, 235, 242, 0.56), rgba(77, 208, 225, 0.95));
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(60deg, rgba(178, 235, 242, 0.56), rgba(77, 208, 225, 0.95));
  /* Standard syntax */
}
.header-filter[filter-color="green"]:after, .header-filter[filter-color="success"]:after {
  background: rgba(165, 214, 167, 0.56);
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(60deg, rgba(165, 214, 167, 0.56), rgba(102, 187, 106, 0.95));
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(60deg, rgba(165, 214, 167, 0.56), rgba(102, 187, 106, 0.95));
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(60deg, rgba(165, 214, 167, 0.56), rgba(102, 187, 106, 0.95));
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(60deg, rgba(165, 214, 167, 0.56), rgba(102, 187, 106, 0.95));
  /* Standard syntax */
}
.header-filter[filter-color="orange"]:after, .header-filter[filter-color="warning"]:after {
  background: rgba(255, 224, 178, 0.56);
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(60deg, rgba(255, 224, 178, 0.56), rgba(255, 183, 77, 0.95));
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(60deg, rgba(255, 224, 178, 0.56), rgba(255, 183, 77, 0.95));
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(60deg, rgba(255, 224, 178, 0.56), rgba(255, 183, 77, 0.95));
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(60deg, rgba(255, 224, 178, 0.56), rgba(255, 183, 77, 0.95));
  /* Standard syntax */
}
.header-filter[filter-color="red"]:after, .header-filter[filter-color="danger"]:after {
  background: rgba(239, 154, 154, 0.56);
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(60deg, rgba(239, 154, 154, 0.56), rgba(239, 83, 80, 0.95));
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(60deg, rgba(239, 154, 154, 0.56), rgba(239, 83, 80, 0.95));
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(60deg, rgba(239, 154, 154, 0.56), rgba(239, 83, 80, 0.95));
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(60deg, rgba(239, 154, 154, 0.56), rgba(239, 83, 80, 0.95));
  /* Standard syntax */
}
.header-filter[filter-color="rose"]:after {
  background: rgba(248, 187, 208, 0.56);
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(60deg, rgba(248, 187, 208, 0.56), rgba(240, 98, 146, 0.95));
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(60deg, rgba(248, 187, 208, 0.56), rgba(240, 98, 146, 0.95));
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(60deg, rgba(248, 187, 208, 0.56), rgba(240, 98, 146, 0.95));
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(60deg, rgba(248, 187, 208, 0.56), rgba(240, 98, 146, 0.95));
  /* Standard syntax */
}

.clear-filter:before {
  display: none;
}

.header-1 .wrapper,
.header-2 .wrapper,
.header-3 .wrapper {
  background: #CCCCCC;
}

.header-2 .page-header .container {
  padding-top: 25vh;
}
.header-2 .page-header .card {
  margin-top: 60px;
}

.header-3 .btn {
  margin: 0;
}
.header-3 h6 {
  margin-bottom: 0;
}

.phone-container img {
  width: 100%;
}

.features-1 {
  text-align: center;
}

.features-3 .info {
  max-width: none;
  margin: 0 auto;
  padding: 10px 0 0px;
}
.features-3 .phone-container {
  max-width: 200px;
  margin: 0 auto;
}

.features-4 .phone-container {
  max-width: 260px;
  margin: 60px auto 0;
}
.features-4 .info {
  max-width: none;
  margin: 0 auto;
  padding: 10px 0 0px;
}
.features-4 .info:first-child {
  padding-top: 130px;
}

.features-5 {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
}
.features-5:after {
  background: rgba(0, 0, 0, 0.55);
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  z-index: 0;
  left: 0;
  top: 0;
}
.features-5 .container,
.features-5 .title {
  position: relative;
  z-index: 2;
}
.features-5 .title,
.features-5 .info-title {
  color: #FFFFFF;
}
.features-5 .info {
  text-align: center;
  max-width: 310px;
  min-height: 320px;
}
.features-5 .info .icon {
  color: #FFFFFF;
}
.features-5 .info .icon > i {
  font-size: 2.8em;
}
.features-5 .info p {
  color: #FFFFFF;
  min-height: 120px;
}
.features-5 .container [class*="col-"] {
  border: 1px solid rgba(255, 255, 255, 0.35);
  border-top: 0;
}
.features-5 .container [class*="col-"] {
  border-left: 0;
}
.features-5 .container [class*="col-"]:last-child {
  border-right: 0;
}
.features-5 .container .row:last-child [class*="col-"] {
  border-bottom: 0;
}

[class*="blogs-"] {
  padding: 50px 0;
}

.blogs-1 .card {
  margin-bottom: 80px;
}

.blogs-4 .card {
  margin-bottom: 60px;
  text-align: center;
}

.team-1 .card .content {
  padding-left: 15px;
  padding-right: 15px;
}
.team-1 .card .description {
  min-height: 90px;
}
.team-1 .card .btn {
  margin-top: 0;
}
.team-1 h5.description {
  margin-bottom: 80px;
}

.team-2 .card .title {
  margin: 10px 0 0;
}
.team-2 .card h6 {
  margin-top: 5px;
}
.team-2 h5.description {
  margin-bottom: 80px;
}

.team-3 .card,
.team-5 .card {
  text-align: left;
}
.team-3 .card .footer,
.team-5 .card .footer {
  margin-top: 0;
}
.team-3 h5.description,
.team-5 h5.description {
  margin-bottom: 70px;
}

.team-4 h5.description {
  margin-bottom: 100px;
}

.projects-1 .title {
  margin-top: 10px;
}
.projects-1 .nav-pills {
  display: inline-block;
}

.projects-2 h2.title {
  margin-top: 5px;
  margin-bottom: 15px;
}
.projects-2 .card-title {
  margin-bottom: 5px;
}
.projects-2 .category {
  color: #999999;
  margin-top: 5px;
}
.projects-2 .card-description {
  margin-top: 20px;
}
.projects-2 .card {
  text-align: center;
}

.projects-3 h2.title,
.projects-3 h3.title {
  margin-bottom: 80px;
  margin-top: 5px;
}
.projects-3 .card {
  margin-bottom: 30px;
  text-align: center;
}
.projects-3 .category {
  margin-bottom: 5px;
}
.projects-3 .card-title {
  margin-top: 5px;
}

.projects-4 h2.title {
  margin-top: 5px;
  margin-bottom: 15px;
}
.projects-4 .info {
  padding: 0;
}
.projects-4 .info p {
  margin: 0;
}
.projects-4 .card-background {
  margin-bottom: 0;
}
.projects-4 .card-background .card-content {
  padding-top: 140px;
  padding-bottom: 140px;
}
.projects-4 hr {
  margin: 70px auto;
  max-width: 970px;
}

.pricing-1 h2.title {
  margin-bottom: 10px;
}
.pricing-1 .card-separator {
  width: 1px;
  display: block;
  height: 100%;
  background-color: rgba(153, 153, 153, 0.2);
  position: absolute;
  left: 0;
  top: 0;
}
.pricing-1.section-image:after {
  background-color: rgba(0, 0, 0, 0.8);
}

.pricing-2 .nav-pills {
  display: inline-block;
  margin-bottom: 50px;
}

.pricing-5 .nav-pills {
  margin-top: 50px;
  margin-bottom: 50px;
}

.pricing-3 .title,
.pricing-4 .title {
  margin-bottom: 10px;
}

.testimonials-1 .description {
  margin-bottom: 50px;
}

.contactus-1 .info {
  padding: 0;
  margin: 0;
}
.contactus-1 .info:first-child {
  margin-top: 30px;
}
.contactus-1 .info .info-title {
  margin-top: 20px;
  color: #FFFFFF;
}
.contactus-1 .info .icon {
  margin-top: 14px;
  color: #FFFFFF;
}
.contactus-1 .card-contact {
  margin-top: 30px;
}

.contactus-2 {
  padding: 0;
}
.contactus-2 .card-contact {
  max-width: 560px;
  margin: 80px 0 80px 150px;
}
.contactus-2 .card-contact .info {
  padding: 0;
  margin: 0;
}
.contactus-2 .map {
  width: 100%;
  height: 100%;
  position: absolute;
}
.contactus-2 .info-horizontal .icon {
  margin-top: 26px;
}
.contactus-2 .info-horizontal .icon > i {
  font-size: 2.2em;
  max-width: 45px;
}

footer {
  padding: 15px 0;
  text-align: center;
}
footer ul {
  margin-bottom: 0;
  padding: 0;
  list-style: none;
}
footer ul li {
  display: inline-block;
}
footer ul li a {
  color: inherit;
  padding: 15px;
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
  border-radius: 3px;
  text-decoration: none;
  position: relative;
  display: block;
}
footer ul li a:hover {
  text-decoration: none;
}
footer ul li .btn {
  margin: 0;
}
footer ul.links-horizontal:first-child a {
  padding-left: 0;
}
footer ul.links-horizontal:last-child a {
  padding-right: 0;
}
footer ul.links-vertical li {
  display: block;
  margin-left: -5px;
  margin-right: -5px;
}
footer ul.links-vertical li a {
  padding: 5px;
}
footer .social-buttons a,
footer .social-buttons .btn {
  margin-top: 5px;
  margin-bottom: 5px;
}
footer .footer-brand {
  float: left;
  height: 50px;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
  margin-left: -15px;
}
footer .footer-brand:hover, footer .footer-brand:focus {
  color: #3C4858;
}
footer .copyright {
  padding: 15px 0;
}
footer .copyright .material-icons {
  font-size: 18px;
  position: relative;
  top: 3px;
}
footer .pull-center {
  display: inline-block;
  float: none;
}

.footer-big {
  padding: 30px 0;
}
.footer-big .content {
  text-align: left;
}
.footer-big .social-feed i {
  font-size: 20px;
  display: table-cell;
  padding-right: 10px;
}
.footer-big .social-feed p {
  display: table-cell;
  vertical-align: top;
  overflow: hidden;
  padding-bottom: 10px;
  max-width: 300px;
}
.footer-big .gallery-feed img {
  width: 20%;
  margin-right: 5%;
  margin-bottom: 5%;
  float: left;
}

.footer-white {
  background-color: #FFFFFF;
}

.footer-gray {
  background-color: #eeeeee;
}

.footer-black {
  background: #232323;
  background: -moz-radial-gradient(center, ellipse cover, #585858 0%, #232323 100%);
  /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #585858), color-stop(100%, #232323));
  /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover, #585858 0%, #232323 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover, #585858 0%, #232323 100%);
  /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover, #585858 0%, #232323 100%);
  /* IE10+ */
  background: radial-gradient(ellipse at center, #585858 0%, #232323 100%);
  /* W3C */
  background-size: 550% 450%;
}
.footer-black a {
  color: #FFFFFF;
  opacity: .86;
}
.footer-black a:hover, .footer-black a:focus {
  opacity: 1;
}
.footer-black .footer-brand {
  color: #FFFFFF;
}
.footer-black .footer-brand:hover, .footer-black .footer-brand:focus {
  color: #FFFFFF;
}
.footer-black h5,
.footer-black h4,
.footer-black i,
.footer-black .copyright {
  color: #FFFFFF;
}
.footer-black hr {
  border-color: rgba(255, 255, 255, 0.2);
}

.social-line {
  padding: 15px 0;
}

.social-line-big-icons [class*="col-"] {
  border-right: 1px solid #eeeeee;
}
.social-line-big-icons [class*="col-"]:last-child {
  border: 0;
}
.social-line-big-icons .btn {
  margin: 0;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
}
.social-line-big-icons .btn .fa {
  font-size: 25px;
}

.subscribe-line {
  padding: 30px 0;
}
.subscribe-line .card {
  margin-top: 30px;
}
.subscribe-line.subscribe-line-image {
  position: relative;
  background-position: top center;
  background-size: cover;
}
.subscribe-line.subscribe-line-image .title {
  color: #FFFFFF;
}
.subscribe-line.subscribe-line-image:after {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: block;
  left: 0;
  top: 0;
  content: "";
  background-color: rgba(0, 0, 0, 0.66);
}
.subscribe-line.subscribe-line-image .container {
  z-index: 2;
  position: relative;
}

.social-line-white,
.subscribe-line-white {
  background-color: #FFFFFF;
}

.social-line-black,
.subscribe-line-black {
  background: #232323;
  background: -moz-radial-gradient(center, ellipse cover, #585858 0%, #232323 100%);
  /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #585858), color-stop(100%, #232323));
  /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover, #585858 0%, #232323 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover, #585858 0%, #232323 100%);
  /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover, #585858 0%, #232323 100%);
  /* IE10+ */
  background: radial-gradient(ellipse at center, #585858 0%, #232323 100%);
  /* W3C */
  background-size: 550% 450%;
}
.social-line-black [class*="col-"],
.subscribe-line-black [class*="col-"] {
  border-color: rgba(255, 255, 255, 0.1);
}
